body {
    white-space: pre-line;
    background: blueviolet;
}

.kvadret, .polosa{
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.kvadret{
    background: greenyellow;
}

.polosa{
    border-bottom: 8px solid gold;
}